*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #999;
  background-image: url("../img/old\ school\ taken\ by\ Nafees.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 500px;
 
}

header h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #fff;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 540px;
  }
  
  header p {
    top: 530px;
    font-size: 1.5em;
  }
}


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 49.333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */


/* Education Block */
.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}


/* Testimonials */
.testimonial {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial img {
  height: 4em;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.testimonial p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

/* start of photography section */

.container_3{
  margin:auto;
  width: 100%;
  
}

.title_section_2 {
  line-height: 1.2em;
  margin-bottom: 24px;
  
}

.size_2{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
#photographyGrid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 102%;
  grid-gap: 54px;
  }

  

.crafted {width: 100%;
}

/* end of Photography */
@media screen and (min-width: 40em) {
  .container_3 {
    padding: 6em;
    text-align: left;
  }
  

.educationList{
  margin-left: -22px;
}

/* Contact Section */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,900);
body {
	font-family: Poppins;
	font-weight: 300;margin: 0;
		padding: 0;
}
*,:before,:after{
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

h1 {
  text-align: center;
  line-height: 20px;
  color: rgba(0,0,0,.8);
}

.social-container-wrap {width:100%;height:600px;
  margin:auto;
  background:#0f0f11;
  padding:50px 0;
  -webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;}
        .social-container {
            margin: 0 auto;
            width: 285px;
            height: 260px;
            padding-left: 30px;
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
            text-align: center;
            -webkit-transition: -webkit-transform .7s;
            -moz-transition: -moz-transform .7s;
            -ms-transition: -ms-transform .7s;
            -o-transition: -o-transform .7s;
            transition: transform .7s;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }


/* Button Styles */
.social-container a {
display: block;
position:relative;
height: 3em;
width: 3em;
line-height: 3em;
    float:left;
	margin-right:20px;
	margin-top:20px;
	text-align: center;    
    border: 1px solid rgba(255,255,255,.3);
    color: rgba(255,255,255,.6);
                -webkit-transition: -webkit-transform .7s;
	-moz-transition: -moz-transform .7s;
	-ms-transition: -ms-transform .7s;
	-o-transition: -o-transform .7s;
	transition: transform .7s;
}
.social-container .twitter{color:#00aced;border-color:#00aced;}
.social-container .facebook{color:#3b5998;border-color:#3b5998;}
.social-container .googleplus{color:#dd4b39;border-color:#dd4b39;}
.social-container .pinterest{color:#cc2127;border-color:#cc2127;}
.social-container .dribbble{color:#ea4c89;border-color:#ea4c89;}
.social-container .instagram{color:#5c3d2e;border-color:#5c3d2e;}
.social-container .linkedin{color:#007fb1;border-color:#007fb1;}
.social-container .envelope{color:#aaca62;border-color:#aaca62;}
.social-container .codepen{color:#f5f50c;border-color:#f5f50c;}
.social-container a i {
-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.social-container a:hover  {
    background:transparent;
    border: 1px solid rgba(255,255,255,.5);
    color: rgba(255,255,255,1);
  -webkit-transform: scale(1.3,1.3);
	-moz-transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
	-o-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3) ;
}
.social-container .codepen:hover {color:rgba(0,0,0,.8);border-color:rgba(0,0,0,.8);}
/* Hover background colors */
.color-twitter {background-color: #00aced !important;}
.color-facebook {background-color: #3b5998 !important;}
.color-pinterest {background-color: #cc2127 !important;}
.color-googleplus {background-color: #dd4b39 !important;}
.color-codepen{background-color:rgba(255,255,255,1) !important;}
.color-dribbble {background-color: #ea4c89 !important;}
.color-instagram {background-color: #5c3d2e !important;}
.color-linkedin{background-color:#007fb1 !important;}
.color-envelope{background-color:#aaca62 !important;}


        .color-twitter,.color-facebook,.color-pinterest,.color-googleplus,.color-dribbble,.color-instagram {
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
