*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #999;
  background-image: url("../img/old\ school\ taken\ by\ Nafees.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 500px;
 
}

header h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #fff;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 540px;
  }
  
  header p {
    top: 530px;
    font-size: 1.5em;
  }
}


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " ";
    display: table; 
}

.row:after {
    clear: both;
}


.row {
  *zoom: 1;
}


@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 49.333333%; }
  .grid-3 { width: 50%; }

}

/* -------------------Custom Blocks----------------- */


.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}


/*********************************************************** Education ********************************************************************/
.education {
  text-align: center;
  margin-bottom: 30px;
  margin-left: -348px;
    width: 187%;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 381%;
    grid-gap: 54px;
}

.row {
  display: flex;
  margin-left: 207px;
    margin-right: -27%;
}

.grid-2{
  background-image: url("../img/oval\ north\ high.JPG");
  background-size: cover;
    width: 32%;
    margin-right: 20px;
    padding-bottom: 0px;
    
  
}
.grid-3{
  background-image: url("../img/life\ choices\ academy.JPG");
  background-size: cover;
  padding-bottom: 8.4%;
  width: 32%;
}
.education img {
  height: 4em;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.education p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

.scrol-1{
  background-image: url("../img/03-large.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 110px;
  width: 190%;
    margin-left: -361px;
}


/* start of project section */

.sizzing-1{
  margin-bottom: 39%;
  margin-left: -83%;
    max-width: 192%;
}
.sizzing-2{
  margin-bottom: 39%;
  margin-left: -3%;
    max-width: 192%;
}


.container_3{
  margin:auto;
  width: 100%;
  
  
}

.title_section_2 {
  line-height: 1.2em;
  margin-bottom: 24px;
  margin-left: 200px;
  
}

.size_2{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
#photographyGrid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 102%;
  grid-gap: 54px;
  }

  

.crafted {width: 100%;
}

/* end of Photography */
@media screen and (min-width: 40em) {
  .container_3 {
    padding: 6em;
    text-align: left;
  }
  

.educationList{
  margin-left: -22px;
}

/******************************************************************* experience ******************************************************************/
.experience{
  margin-left: -64%;
  margin-right: 82%;
}

.grid-4{
  margin-left: -30%;
    margin-top: 32%;
}

.grid-5{
  margin-top: -86%;
  margin-left: 50%;
}

.grid-6{
  margin-left: -65%;
    margin-top: -73%;
}